<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/exer-fix-vetor-aluguel/src/application/Programa.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="application.Programa"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="exer-fix-vetor-aluguel"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="exer-fix-vetor-aluguel"/>
</launchConfiguration>
